*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0%;
}

.navbar{
    display: block;
}
#menu{
    display: none;
    position: sticky;
    right: 0;
    background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
    width: 50%;
}
#burguer{
    color:white;
    text-align: center;
    cursor: pointer;
    margin: 50px 33px;
    height: 100%;
}
#burguer:hover{
    background-color: #378241;
    color: white;
}
#nav.active #menu{
    display: block;
}

.list-a{
    display: block;
    list-style-type: none;
}
.a-nav{
    text-decoration: none;
    color: white;
}
.a-nav:hover{
    background-color: transparent;
    transition: 1s;
}
.fundo-nav{
    display: flex;
    width: 100%;
    margin: 0%;
    background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
    color: white;
    text-align: center; 
}
.fundo-nav-img{
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 60%;
    margin: 25px 10px;
}
.a-fundo-nav{
    width: auto;
}
.h1-header{
    width: auto;
    text-align: center;
    font-size: 1.2rem;
    margin: 50px 0;
}

.button-nav{
    color: white;
    width: 100%;
    height: 50px;
    margin: 25px;
    margin-left: -15px;
}
button {
    background-color: #384F3B;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 9px;
    transition: 0.5s;
    font-size: 13px;
}

button:hover {
    background-color: #ffffff;
    color: #384F3B;
    font-weight: bold;
    font-size: 10px;
    transition: .5s;
}

@media (min-width: 1200px){
    .navbar{
        display: flex;
        justify-content: space-evenly;
    }
    #menu{
        display: block;
        position: relative;
        right: 0;
        background-color: #000000;
        width: 100%;
    }
    #burguer{
        display: none;
    }

    .fundo-nav{
        display: flex;
        width: 100%;
        margin: 0%;
        background: linear-gradient(to bottom, #384F3B, rgb(53, 141, 50));
        color: white;
        text-align: center; 
    }
    .fundo-nav-img{
        display: flex;
        width: 80px;
        height: 80px;
        border-radius: 60%;
        margin: 25px 10px;
    }
    .a-fundo-nav{
        width: auto;
    }
    .h1-header{
        width: auto;
        text-align: center;
        font-size: 1.2rem;
        margin: 50px 0;
    }
    
    .button-nav{
        color: white;
        width: 10%;
        height: 50px;
    }
    button {
        background-color: #384F3B;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 20px;
        padding: 9px;
        transition: 0.5s;
        font-size: 13px;
    }
    
    button:hover {
        background-color: #ffffff;
        color: #384F3B;
        font-weight: bold;
        font-size: 10px;
        transition: .5s;
    }
}